@@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, ul, figure, p{margin:0; padding:0;}
ul li {list-style:none;}
a{text-decoration:none;}
address{font-style:normal;}
small{font-size:1em;}
.hidden{position: absolute; left:-9999px;}
body{font-family: 'Noto Sans KR', sans-serif;}

#header{height:600px; text-align:center; color:#fff;
  background:url(../images/bg.jpg) no-repeat center center / cover;}
#header hgroup{padding-top:120px;}
#header hgroup h1{font-size:100px;}
#header hgroup h2{font-size:45px; font-weight: normal;}

#gnb{width:1200px; overflow:hidden; position:absolute; top:550px; left:calc(50% - 600px);}
#gnb ul{}
#gnb ul li{width:25%; height: 65px; float:left;}
#gnb ul li a{width:100%; height: 65px; display: block; background:#1a2a7d; color:#fff;
  line-height: 65px; text-align:center; }
#gnb ul li a:hover{background: :#af43a4;}

#content{width:1200px; margin:100px atuo 50px;}
#content h2{}
#content article{}
#content article h3{margin: 20px 0;}
#content article figure{margin-bottom:20px;}

#footer{padding: 50px 0; background: #7232e9; color:#fff; text-align: center;}
#footer p{margin:20px 0;}
#footer address{}
#footer small{}
